<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#" prefix="og:http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg" href="/favicon.svg">

    <title>YelpCamp</title>
    <meta name="description" content="YelpCamp2020 is a Node.js web app following The Web Developer Bootcamp by Colt Steele, alongside some tweaks of my own."> 
    <meta name="keywords" content="YelpCamp,web,dev,bootcamp,colt,steele,mitulagr2">

    <meta name="type" property="og:type" content="website">
    <meta name="url" property="og:url" content="https://yelpcamp2020.glitch.me/">
    <meta name="title" property="og:title" content="YelpCamp">
    <meta name="site_name" property="og:site_name" content="YelpCamp">

    <meta name="image" property="og:image" itemprop="image primaryImageOfPage"
      content="https://yelpcamp2020.glitch.me/assets/cover-art.png"
      href="https://yelpcamp2020.glitch.me/assets/cover-art.png">
    <meta name="image:secure_url" property="og:image:secure_url" content="https://yelpcamp2020.glitch.me/assets/cover-art.png"
      href="https://yelpcamp2020.glitch.me/assets/cover-art.png">
    <meta name="image:type" property="og:image:type" content="image/png">
    <meta name="image:width" property="og:image:width" content="1000">
    <meta name="image:height" property="og:image:height" content="750">
    <meta name="image:alt" property="og:image:alt" content="Campfire gathering illustration">

    <meta name="twitter:card" property="twitter:card" content="summary_large_image">
    <meta name="twitter:title" property="twitter:title" content="YelpCamp">
    <meta name="twitter:description" property="twitter:description" content="YelpCamp2020 is a Node.js web app following The Web Developer Bootcamp by Colt Steele, alongside some tweaks of my own.">
    <meta name="twitter:url" property="twitter:url" content="https://yelpcamp2020.glitch.me/">
    <meta name="twitter:domain" property="twitter:domain" content="https://yelpcamp2020.glitch.me/">
    <meta name="twitter:creator" property="twitter:creator" content="@mitulagr2">

    <meta name="twitter:image" property="twitter:image" content="https://yelpcamp2020.glitch.me/assets/cover-art.png"
      href="https://yelpcamp2020.glitch.me/assets/cover-art.png">
    <meta name="twitter:image:src" property="twitter:image:src" content="https://yelpcamp2020.glitch.me/assets/cover-art.png"
      href="https://yelpcamp2020.glitch.me/assets/cover-art.png">
    <meta name="twitter:image:alt" property="twitter:image:alt" content="Campfire gathering illustration">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap" rel="stylesheet">

  </head>
  <body>
    