<%- include("./partials/header"); %>
<%- include("./partials/navbar"); %>

<h1 class="heading">Welcome to YelpCamp!</h1>
<h4 class="text-center">A place where users from all across the world create and review campgrounds</h4>
<p class="heading"><a href="/posts">
  Get Started
  <i class="fas fa-angle-right"></i>
</a></p>

<p class="madeby">Made by
  <a href="https://github.com/mitulagr2" target="_blank">mitulagr2</a>
</p>

<%- include("./partials/footer"); %>