<%- include("./partials/header"); %>
<%- include("./partials/navbar"); %>

<div class="mb-5"></div>
<h1 class="heading">Welcome to YelpCamp!</h1>
<h5 class="text-center">
  A place to post and review campgrounds except no one here posts and reviews campgrounds
</h5>
<p class="heading h5">
  <a href="/posts">Get Started</a>
</p>

<p class="madeby">Made by
  <a href="https://mitulagrofficial.netlify.app" target="_blank">mitulagrofficial</a>
</p>

<%- include("./partials/footer"); %>