<%- include("./partials/header"); %>
<%- include("./partials/navbar"); %>

<div class="heading">
  <h1>Welcome!</h1>
  <p><a href="/posts">
    Get Started
    <i class="fas fa-angle-right"></i>
    <i class="fas fa-chevron-right"></i>
  </a></p>
</div>

<p class="madeby">Made by
  <a href="https://github.com/mitulagr2" target="_blank">mitulagr2</a>
</p>

<%- include("./partials/footer"); %>