<%- include("./partials/paperscript"); %>

<canvas id="myCanvas" resize></canvas>
  
<h2 class="font-weight-bold">Whoops - Page doesn't exist!</h2>
<h2>Enjoy some circles instead</h2>

<%- include("./partials/footer"); %>