<%- include("./partials/paperscript"); %>

<canvas id="myCanvas" resize></canvas>
  
<h2 class="heading2 font-weight-bold">Whoops - Page doesn't exist!</h2>
<h2 class="text-center">Enjoy some circles instead</h2>

<%- include("./partials/footer"); %>