/* ########### site THEME COLORS :- ########### */

body, canvas {
  background-color: #fbfbfb !important;
}

#nav, #navbrand, .card, .comment {
  background-color: #efefef !important;
}

#nav, #navbrand, .card, figcaption, .comment, .alert, .heading, textarea, .textInput, .textInput:focus {
  color: #777 !important;
}

textarea, .textInput, .textInput:focus {
  background-color: #f6f6f6 !important;
}

textarea {
  min-height: 60px;
}


/* ############################################ */

/* ########### SCROLLBAR SETUP :- ########### */

.scrollbar {
  background: #efefef;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: #fff #efefef;
  scrollbar-width: thin;
}
.scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
  background-color: #efefef;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 4px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f6f6f6;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #efefef;
}

/* ########################################## */

/* ########### NAVBAR SETUP :- ########### */

#nav {
  margin-bottom: 2em;
}
.navbar-brand {
  margin-left: 1em;
}
.nav-home {
  color: #777;
  margin-left: 28px;
}
.nav-item {
  margin: 0 0.5em;
}

.alert-success {
  color: #efefef !important;
  border: 2px solid #20933a;
  background-color: #28a745;
}
.alert-danger {
  color: #efefef !important;
  border: 2px solid #c9303e;
  background-color: #dc3545;
}

/* ####################################### */

/* ########### OTHERS :- ########### */

canvas {
	width: 100%;
	height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	z-index: -1;
}

.heading {
  text-align: center;
	line-height: 1.1;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
  padding: 1.25rem 0;
}

.heading2 {
  text-align: center;
	line-height: 1.1;
  margin-top: 2.5em;
}

.h1-large {
  font-size: 4em;
}

.jumbotron {
  padding: 48px;
  background-color: #eee;
}

.postImage {
  opacity: 0.8;
  cursor: pointer;
}

.comment {
  border: none;
}

.btn-primary {
  background-color: #337ab7;
}

/* ################################# */

.cursordefault {
  cursor: default !important;
}
.cursorpointer {
  cursor: pointer !important;
}

.madeby {
  position: absolute;
  top: 95%;
  width: 100%;
  text-align: center;
  color: #222;
  opacity: 0.8;
}
.madeby a { text-decoration: none; }